<h1>Tikotyökkäri</h1>

<p class="loginfo" *ngIf="logged">Kirjauduttu käyttäjällä Tommi</p>

<div class="login"> 
  <button *ngIf="!logged" (click)="login()">Kirjaudu sisään</button>

  
  <button *ngIf="logged" (click)="logout()">Kirjaudu ulos</button>

</div>

<div class="list">

  <div class="listitem">
    <h2>Ilmoita avoimesta työtehtävästä</h2>
    <button [routerLink]="['/foremployer']">Työnantajille</button>
  </div>

  <div class="listitem">
    <h2>Löydä töitä</h2>
    <button [routerLink]="['/forstudents']">Opiskelijoille</button>
  </div>

  <div class="listitem">
    <h2>Löydä tekijä työtehtävään</h2>
    <button [routerLink]="['/foremployer']">Selaa opiskelijoita</button>
  </div>

  <div class="listitem">
    <h2>Palvelun toiminta ja laskutus</h2>
    <button [routerLink]="['/foremployer']">Ohjeita</button>
  </div>


</div>
