<body>
	<div class="content">
		<div class="upperContent">
			<div class="upperBox left">
				<img src="https://via.placeholder.com/576x403.png" />
			</div>
			<div class="upperBox middle"><h1>Työpaikat</h1></div>
			<div class="upperBox right">
				<div class="boxTop">
					<div class="boxTop text">
						<h3>
							Löydä itsellesi työ selaamalla työilmoituksia tai
							etsimällä
						</h3>
						<h3>tietynlaista työtä hakusanojen avulla.</h3>
						<h3>
							Voit hakea työtä kätevästi suoraan
							työilmoitussivulta ja
						</h3>
						<h3>
							profiilisi lähetetään automaattisesti työnantajalle.
						</h3>
					</div>
				</div>
				<div class="boxBot">
					<form
						#f="ngForm"
						class="formcontainer"
						(ngSubmit)="onSubmit(f.value)"
					>
						<label>
							<input
								type="text"
								name="engine"
								#engine="ngModel"
								[(ngModel)]="infoSearch.engine"
							/>
						</label>
						<button class="greenbutton">Etsi</button>
					</form>
				</div>
			</div>
		</div>
		<div class="joblistArea">
			<app-joblist-announcement></app-joblist-announcement>
		</div>
	</div>
</body>
<app-job-announcement></app-job-announcement>
