<body>
	<div class="content">
		<div class="upperContent">
			<div class="upperBox left">
				<img src="https://via.placeholder.com/576x403.png" />
			</div>
			<div class="upperBox middle"><h1>Työpaikat</h1></div>
			<div class="upperBox right">
				<div class="boxTop">
					<h3>
						Löydä itsellesi työ selaamalla työilmoituksia tai
						etsimällä <br />
						tietynlaista työtä hakusanojen avulla. <br />
						Voit hakea työtä kätevästi suoraan työilmoitussivulta ja
						<br />
						profiilisi lähetetään automaattisesti työnantajalle.
					</h3>
				</div>
				<div class="boxBot">
					<form
						#f="ngForm"
						class="formcontainer"
						(ngSubmit)="onSubmit(f.value)"
					>
						<label>
							<br />
							<input
								type="text"
								name="engine"
								#engine="ngModel"
								[(ngModel)]="infoSearch.engine"
							/>
						</label>
						<button class="greenbutton">Etsi</button>
					</form>
				</div>
			</div>
		</div>
		<div class="joblistArea">
			<app-joblist-announcement></app-joblist-announcement>
		</div>
	</div>
</body>
