<body>
	<div class="content">
		<div class="upperContent">
			<div class="upperBox left">
				<img src="../../assets/img/frontpage_woman.png" />
			</div>
			<div class="upperBox middle"><h1>Toimeksiannot</h1></div>
			<div class="upperBox right">
				<div class="boxTop">
					<div class="boxTop text">
						<h3>
							Löydä itsellesi työ selaamalla
							toimeksiantoilmoituksia tai etsimällä tietynlaista
							työtä hakusanojen avulla. Voit hakea työtä kätevästi
							suoraan toimeksiantoilmoitussivulta ja profiilisi
							lähetetään automaattisesti toimeksiantajalle.
						</h3>
					</div>
				</div>
				<div class="boxBot">
					<form
						#f="ngForm"
						class="formcontainer"
						(ngSubmit)="onSubmit(f.value)"
					>
						<label>
							<input
								type="text"
								name="engine"
								#engine="ngModel"
								[(ngModel)]="infoSearch.engine"
							/>
						</label>
						<button class="greenbutton">Etsi</button>
					</form>
				</div>
			</div>
		</div>
		<div class="joblistArea">
			<app-joblist-announcement></app-joblist-announcement>
		</div>
	</div>
</body>
