


h1 {

    margin-left: 13.4375rem;
    padding-top: 2rem;
    font-weight: 400;
    font-size: 48px;
   
    margin-top: 0%;
   
}

.container {

    
    background-color: var(--darkgray);
    min-width: 100%;
    padding-bottom: 2rem;
    
}

.textbox {
   
    margin-top: 3.125rem;
    margin-left: 13.4375rem;
    max-width: 69.1875rem;
    text-align: justify;
    margin-bottom: 0%;
}




.topline {
    display: flex;
    justify-content: left;
   
    min-height: 2.125em;

    width: 100vw;
    background-color: var(--mediumblue);
}



.backbutton {
    color: var(--lightblue);
    background: none;
    border: none;
    margin-left: 3.5625em;
    margin-right: 3.5625em;
    font-size: 1rem;
    /* position: absolute;
    left: 3.5625em;
    font-size: 1.125em; */
}

a {
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
   font-size: 1rem;
    padding: 0.2em 0.4em;
}

.navbutton {
    color: var(--lightblue);
    background: none;
    border: none;
    font-size: 1rem;
    /* position: absolute;
    left: 11.4375em;
    font-size: 1.125em; */
}

.triangle {
    width: 1em;
    height: auto;
    background-size: 0.4em;
    
 background-image: url(../../assets/icons/Pikkunuoli.png);
 background-repeat: no-repeat;
 background-position: center;

}

