.container {
  background-color: var(--darkgray);
  padding-top: 2em;
}

h1 {
  margin-left: 3rem;
}

.cardlistcontainer {
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

