<div class="container">
    
<div class="grid-container">
    <div class="item1">
        <img src="../../assets/img/studentfrontpage-photo-logged.png" >
    </div>
    <div class="item2">
       <h2 class="item2-header">Työnvälitystä ammattikorkeakoulujen opiskelijoille</h2>
       <p class="item2-text">Kartuta osaamistasi aitojen toimeksiantojen avulla! Tee opintojesi ohella lyhyitä projekteja tai tarjoa apuasi vaikkapa tietokoneen päivitystä tarvitsevalle. DigiMajakasta saat hyvän alun urallesi!</p>
       <button
       class="greenbutton item2-button"
       
     
   >Aloitetaan!</button>
    </div>
    <div class="item3">
        <h2 class="item3-header">Toimeksiantajana voivat toimia 
            yritykset, yhdistykset ja yksityishenkilöt</h2>
        <p class="item3-text">Opiskelijoiltamme löytyy valtavasti taitoja ja intoa tehdä erilaisia IT-alan työtehtäviä opintojen ohella. Tee toimeksiantoilmoitus avoimesta työtehtävästä ja löydä tekijä nopeasti ja helposti. </p>
        <button
        class="greenbutton item3-button"
      
      
    >Aloitetaan!</button>
    </div>
    <div class="item4">
        <img src="../../assets/img/frontpage_woman.png" >
    </div>

</div>
</div>