.container {
  background-image: url(src\assets\img\profile_bg.png);
  background-size: 100% 100%;
}

.listtext {
  margin: 0;
}

.value {
  margin-bottom: 0.5em;
}

.upperBg {
  background-color: var(--mediumblue);
  width: 100%;
}

.upperContent {
 /* background-image: url(src\assets\img\profile_bg.png);
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: right;
  overflow: visible; */
  max-width: 1500px;
  height: 475px;
  box-sizing: border-box;
  background-color: var(--mediumblue);
  display: flex;
  justify-content: space-between;
  min-width: 1024px;
  padding: 2em 3em;
  margin: 0 auto;
}

.lowerBg {
  background-color: var(--darkgray);
  width: 100%;
}

.lowerContent {
  background-color: var(--darkgray);
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  height: 600px;
  margin: 0 auto;
}


.lowerBox {
  padding: 20px;
  position:relative;
}

.lowerBox.left {
  margin-left: 2em;
}

.lowerMid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profilephoto {
  height: 355px;
  width: 355px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 45px 30px -25px rgba(0, 0, 0, 0.7);
  position: relative;
  margin-top: 2em;
  padding: 1em;
}

.photowide {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: stretch;
}

.phototall {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: 368px;
}

.upperBox {
  position: relative;
  border-radius: 20px;
  height: 355px;
  width: 355px;
  box-sizing: border-box;
  padding: 1em;
  margin-top: 2em;
}


.upperBox.second {
  display:flex;
  flex-direction: column;
  width: fit-content;
  padding-right: 2em;
}

.upperBox.third {
  display:flex;
  flex-direction: column;
  width: fit-content;
}

.divider {
  height: 90%;
  width: 1.1px;
  background-color: var(--lightblue);
}

p {
  color: var(--lightblue);
}

h2, h3, h4, h5 {
  font-weight: 400;
}

h2 {
  color: var(--lightblue);
  margin: 0 0 0.5em;
}

h3 {
  color: var(--lightblue);
  margin-top: 50px;
}

h4 {
  font-size: 1.6em;
  margin: 0px;
  color: var(--darkblue);
}

.glassbox {
  display: grid;
  gap: 10px;
  max-width: 600px;
  padding: 20px 20px 40px 20px;
  margin: 30px;
}

.tags {
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags>p {
  margin: 0;
  color: var(--darkblue);
  font-size: 1.2em;
}

.tag {
  display:flex;
  background-color: var(--mediumblue);
  border-radius: 10px;
  color: var(--lightblue);
  padding:10px;
  height: 15px;
  align-items: center;
}

.btnRow{
 margin-left: 30px;
 margin-top: 4em;
 margin-bottom: 3em;
 display:grid;
 grid-template-columns: 120px 120px 120px;
 gap: 10px;
 justify-items: center;
}

.contentfooter {
  display: flex;
  margin-left: 30px;
  margin-top: 2em;
  margin-bottom: 5em;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 650px;
}

.leftflex {
  display:flex;
  align-items: center;
}

.contactbtn {
  margin-right: 2em;
}

.bluebutton {
  min-width: 65px;
}

.graybutton {
  margin: 10px;
}

.showcontactsbtn {
  margin-top: 4em;
}

.attachment {
  width: 120px;
}

.noattachments {
  margin-left: 2em;
}

.socials {
  background-color: var(--lightblue);
  padding: 0.3em 0.6em;
  gap: 0.6em;
  height: 55px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials>a {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.some-icon {
  width: 40px;
  height: 40px;
}

.linkedin {
  width: 44.75px
}