.container {
  background-image: url(src\assets\img\profile_bg.png);
  background-size: 100% 100%;
  height: 100vh;
}


.listtext {
  margin: 0;
}

.upperContent {
  max-width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 1024px;
  margin: 0 40px
}

.lowerContent {
  margin: 0 40px;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  min-width: 1024px;
  max-height: fit-content;
}

.lowerBox {
  padding: 20px;
  min-width: 400px;
  position:relative;
}

.lowerBox.left {
  padding-left: 40px;
  padding-right: 40px;
}

.lowerMid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.profilephoto {
  height: 368px;
  width: 368px;
  border-radius: 20px;
  box-shadow: 0px 45px 30px -25px rgba(0, 0, 0, 0.7);
  position: relative;
  right: 90px;
  z-index: 9;
  overflow: hidden;
  margin-left: 80px;
  
}

.photowide {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: fill;
}

.phototall {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: 368px;
}

.upperBox {
  position: relative;
}

.upperBox.first {
  display: flex;
  justify-content: end;
  padding-left: 40px;
  padding-right: 40px;
}

.upperBox.second {
  padding: 50px;
  padding-right: 30px;
  display:flex;
  flex-direction: column;
  min-width:315px;
}

.upperBox.third {
  padding: 50px;
  padding-right: 30px;
  display:flex;
  flex-direction: column;
}

.divider {
  height: 90%;
  width: 1.1px;
  background-color: var(--lightblue);
}

p {
  color: var(--lightblue);
}

h2, h3, h4, h5 {
  font-weight: 400;
}

h2 {
  color: var(--lightblue);
  
}

h3 {
  color: var(--lightblue);
  margin-top: 50px;
}

h4 {
  font-size: 1.6em;
  margin: 0px;
  color: var(--darkblue);
}

.glassbox {
  display: grid;
  gap: 10px;
  max-width: 600px;
  padding: 20px 20px 40px 20px;
  margin: 30px;
}

.tags {
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags>p {
  margin: 0;
  color: var(--darkblue);
  font-size: 1.2em;
}

.tag {
  display:flex;
  background-color: var(--mediumblue);
  border-radius: 10px;
  color: var(--lightblue);
  padding:10px;
  height: 15px;
  align-items: center;
}

.btnRow{
 margin-left: 30px;
 margin-top: 4em;
 margin-bottom: 3em;
 display:grid;
 grid-template-columns: 120px 120px 120px 120px 120px;
 gap: 10px;
 justify-items: center;
}

.contentfooter {
  display: flex;
  margin-left: 30px;
  margin-top: 2em;
  margin-bottom: 5em;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 650px;
}

.leftflex {
  display:flex;
  align-items: center;
}

.greenbutton {
  margin-right: 20px;
}

.bluebutton {
  min-width: 65px;
}

.graybutton {
  margin: 10px;
}

.showcontactsbtn {
  margin-top: 4em;
}

.attachment {
  width: 120px;
}

.noattachments {
  margin-left: 2em;
}

.socials {
  background-color: var(--lightblue);
  padding: 0.3em 0.6em;
  gap: 0.6em;
  height: 55px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials>a {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.some-icon {
  width: 40px;
  height: 40px;
}

.linkedin {
  width: 44.75px
}