<div class="backdrop">
  <div class="formcontainer">
    <h2>Yhteystiedot</h2>
    <label>
      Sähköposti*
      <input type="email">
    </label>

    <label>
      Puhelinnumero*
      <input type="tel">
    </label>

    <h2>Sosiaalisen median linkit</h2>
    <label>
      LinkedIn
      <input type="text">
    </label>

    <label>
      Instagram
      <input type="text">
    </label>

    <label>
      Facebook
      <input type="text">
    </label>

    <label>
      Twitter
      <input type="text">
    </label>

    <div class="buttoncontainer">
      <button class="greenbutton">Tallenna</button>
    </div>

  </div>
</div>
