<body>
<div *ngIf="!logged" class="container">
  <div class="imgcontainer">
    <img src="https://via.placeholder.com/576x403.png" alt="placeholderkuva">
  </div>

  <div class="welcome">
    <h1>Opiskelija</h1>
    <p class="px20">Kirjaudu sisään ja löydä itsellesi töitä!
Luo itsellesi profiili ja anna työnantajien löytää sinut!      
    </p>

    <div class="buttonrow">
      <div>
        <p class="label">Uusi käyttäjä?</p>
        <button class="graybutton">Rekisteröidy</button>
      </div>

      <div>
        <p class="label">Onko sinulla jo tili?</p>
        <button class="greenbutton" (click)="login()">Kirjaudu sisään</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="logged" class="containerlogged">
  <div class="imgcontainer">
    <img src="https://via.placeholder.com/550x391.png" alt="placeholderkuva">
  </div>

  <div class="welcome">
    <h1>Opiskelija</h1>
    <h3>Luo profiili</h3>
    <p>Kerro osaamisestasi, lisää portfoliosi ja kaikki muu oleellinen tieto,
      jotta työnantajat voivat löytää juuri sinut!    
    </p>

    <button class="greenbutton profilebutton" routerLink="/profile">Oma profiili</button>
  </div>
</div>

<div *ngIf="!logged" class="glassbox">
  <h2>Katso ohjeet ja aloita työnhaku</h2>
  <p>Täältä löydät ohjeita mm. työnhakupalvelun toiminnasta,
    kevytyrittäjyydestä ja vastauksia usein kysyittyihin kysymyksiin.
  </p>

  <button class="bluebutton">Ohjeita</button>
</div>

<div *ngIf="logged" class="contentgrid">

  <div class="lcontent">
    <h2>Avoimet työilmoitukset</h2>
    <app-joblistsmall></app-joblistsmall>
    <button class="graybutton">Katso kaikki ilmoitukset</button>
    <h2>Löydä työkavereita projektiisi</h2>
    <app-profilecarousel></app-profilecarousel>
  </div>

  <div class="rcontent">
    <div class="glassbox">
      <h2>Mitäpä jos ryhtyisit kevytyrittäjäksi!</h2>
      <p>Tämän helpompaa yrittäjyys ei voi enää olla.
    Katso ohjeet ja aloita tienaaminen!
      </p>

      <button class="bluebutton">Ohjeita</button>
    </div>

    <div class="glassbox">
      <h2>Askarruttaako jokin asia?</h2>
      <p>Katso löytyisikö vastaus usein kysyttyjen kysymysten joukusta!
      Voit ottaa yhteyttä myös suoraan asiakaspalveluumme.
      </p>

      <button class="graybutton">UKK</button>
    </div>
  </div>

  
</div>

<button *ngIf="!logged" class="greenbutton loginfloat px14" (click)="login()">Kirjaudu sisään</button>

<div class="loginfloat" *ngIf="logged">
  <p>Hei {{loggedUser}}!</p>
  <button class="greenbutton px14" (click)="logout()">Kirjaudu ulos</button>
</div>

</body>