* {
  font-family: 'Mukta Mahee';

}

body {
  background-image: url(src\assets\img\studentFrontpage.png);
  background-size: 100% 100%;
  padding-bottom: 20em;
}

.bg-change {
  background-image: url(src\assets\img\studentFrontpage_LoggedIn.png);
  background-size: cover;

}

h1 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0;
}

h3 {
  font-weight: 400;
}

.px20 {
  font-size: 1.25em;
}


.imgcontainerlogged {
  max-height: 391px;
}


.container {
  margin: 0;
  display: flex;
  gap: 3%;
}

.containerlogged {
  background-color: var(--darkgray);
  margin: 0;
  display: flex;
  gap: 3em;
  padding: 0;
}

.contentgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lcontent {
  margin-left: 5em;
  margin-top: 3em;
}

.lcontent>h2,
.lcontent>button {
  margin-top: 2em;
}

/* 
  Margins defined for lcontents first element, so the content is at correct height
*/
.lcontent:first-child {
  margin-top: 0;
  margin-bottom: 2em;
}

.rcontent {
  margin-right: 8%;
}

.profilebutton {
  margin-top: 2em;
}

.topcontent {
  margin-top: 1em;
  max-width: 30vw;
}

.loggedtop {
  max-width: 40vw;
}

.buttonrow {
  display: flex;
  gap: 1em;
}

.label {
  margin-bottom: 0.5em;
  font-size: smaller;
}

.glassbox {
  margin-top: 3em;
  margin-left: 5%;
  max-width: 40em;
  padding: 2em;
}

.glassbox>h2,
.glassbox>p {
  color: var(--darkblue);
  font-weight: 400;
}

.glassbox>p {
  font-size: 1.25em;
}


.loginfloat {
  position: absolute;
  top: 100px;
  right: 5%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.logoutthin {
  display: none;
}

@media (max-width: 1463px) {
  .rcontent {
    margin-right: 5%;
  }

  .resbox {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .loginfloat {
    display: none;
  }

  .logoutthin {
    display: block;
  }

  .container {
    justify-content: space-between;
  }

  .containerlogged {
    justify-content: space-between;
  }

  .topcontent {
    margin-right: 10%;
  }
}



@media (max-width: 965px) {

  body {
    width: 120vw;
  }

  /*
  .container {
     flex-direction: column;
    align-items: center; 
  }
  */
}

@media (min-width: 1530px) {
  .container {
    gap: 5%;
  }
}