<div class="container">
  <div class="imgcontainer">
    <img src="https://via.placeholder.com/576x403.png" alt="placeholderkuva">
  </div>

  <div class="welcome">
    <h1>Opiskelija</h1>
    <pre>Kirjaudu sisään ja löydä itsellesi töitä!
Luo itsellesi profiili ja anna työnantajien löytää sinut!      
    </pre>

    <div class="buttonrow">
      <div>
        <p class="label">Uusi käyttäjä?</p>
        <button class="graybutton">Rekisteröidy</button>
      </div>

      <div>
        <p class="label">Onko sinulla jo tili?</p>
        <button class="greenbutton">Kirjaudu sisään</button>

      </div>

    </div>

  </div>
</div>

<div class="glassbox">
  <h2>Katso ohjeet ja aloita työnhaku</h2>
  <p>
Täältä löydät ohjeita mm. työnhakupalvelun toiminnasta,
kevytyrittäjyydestä ja vastauksia usein kysyittyihin kysymyksiin.
  </p>

  <button class="bluebutton">Ohjeita</button>
</div>

<button class="greenbutton loginfloat">Kirjaudu sisään</button>