h1 {
  margin-top: 0.2em;
  color: var(--darkblue);
}

.backbutton {
  font-size: 0.95em;
  max-height: 47px;
  margin-top: 0.4em;
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: 2em;
  background-color: var(--lightblue);
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  height: 4em;
}

.topbar>a {
  text-decoration: none;
  font-size: 1.5em;
  margin-top: 0.5em;
  font-weight: bold;
  color: var(--darkblue);
}

.topbar>a:hover {
  color: var(--green)
}

.active-link {
  border-bottom: 4px solid var(--green);
  height: 1.5em;
  padding: 0;
}