<div class="topbar">
	<!-- Button that returns the user to the previous view. -->
	<!--<button class="bluebutton backbutton" (click)="back()">Takaisin</button>-->
	<!-- Heading/logo -->
	<a routerLink="" routerLinkActive="active-link" class="header"
		><h1>DigiMajakka</h1></a
	>

	<!-- Actual navigation links. routerLinkActive is used to highlight the route the user is curently in  -->

	<a routerLink="" routerLinkActive="active-link" class="menu">Etusivu</a>
	<a routerLink="student" routerLinkActive="active-link" class="menu"
		>Opiskelijalle</a
	>
	<a routerLink="employer" routerLinkActive="active-link" class="menu"
		>Toimeksiantajalle</a
	>
	<a routerLink="guide" routerLinkActive="active-link" class="menu">Ohjeet</a>
</div>
