<!-- Backdrop styles come from global styles. Backdrop causes the form to be displayed on top of other components -->
<div class="backdrop" (click)="changeVisibility()">
	<!-- Form is the container for the form, and provides the formdata for Angular -->
	<form
		#f="ngForm"
		class="formcontainer"
		(click)="$event.stopPropagation()"
		(ngSubmit)="onSubmit(f.value)"
	>
		<!-- Button to close the edit-window -->
		<div class="close-button" (click)="changeVisibility()">
			<img
				class="close-icon"
				src="assets\icons\close.svg"
				alt="close-button"
			/>
		</div>

		<h2>Osaaminen</h2>

		<!-- Dropdown-input for skills -->
		<label>
			Valitse listalta taito
			<select name="skill" #skill="ngModel" [(ngModel)]="toBeAddedSkill">
				<!-- ADD FUNCTIONALITY TO FETCH DATA FROM DATABASE -->
				<option [selected] [disabled]>Valitse taito</option>
				<option *ngFor="let skill of skills">{{ skill.name }}</option>
			</select>
		</label>
		<p class="error" *ngIf="error">Taito on jo listalla!</p>

		<!-- Button to add the selected skill into the array of to be added skills -->
		<button class="graybutton" (click)="addSkill(f.value)">
			Lisää taito profiiliin
		</button>

		<div class="tags">
			<!-- Every skill put inside their own tag -->
			<div
				[ngClass]="selected.includes(skill) ? 'selected' : 'tag'"
				class="tag"
				*ngFor="let skill of toBeAddedSkills"
				(click)="selectSkill(skill)"
			>
				<p>{{ skill }}</p>
			</div>
		</div>

		<!-- Submit-button inside a div to position it correctly -->
		<div class="buttoncontainer">
			<button
				class="graybutton"
				*ngIf="selected.length > 0"
				(click)="removeSelected()"
			>
				Poista valitut
			</button>
			<button [disabled]="!f.valid" type="submit" class="greenbutton">
				Tallenna
			</button>
		</div>
	</form>
</div>
