<div class="backdrop">
  <div class="formcontainer">
    <h2>Henkilötiedot</h2>
    <label>
      Etunimi *
      <input type="text" class="textinput">
    </label>

    <label>
      Sukunimi *
      <input type="text" class="textinput">
    </label>

    <label>
      Koulutusala *
      <input type="text" class="textinput">
    </label>

    <label>
      Koulun nimi *
      <select>
        <option disabled selected>Valitse</option>
        <option>JAMK</option>
        <option>XAMK</option>
      </select>
    </label>

    <label>
      Kaupunki *
      <select>
        <option disabled selected>Valitse</option>
        <option>Jyväskylä</option>
        <option>Perse</option>
      </select>
    </label>

    <label>
      Opintovuosi *
      <div class="radiocontainer">
        
        <label class="radiolabel">
          <input type="radio" name="year">
          1
        </label>

        <label class="radiolabel">
          <input type="radio" name="year">
          2
        </label>

        <label class="radiolabel">
          <input type="radio" name="year">
          3
        </label>

        <label class="radiolabel">
          <input type="radio" name="year">
          4 tai enemmän
        </label>
      </div>
    </label>

    <div class="buttoncontainer">
      <button class="greenbutton">Tallenna</button>
    </div>

  </div>
</div>

