<div class="backdrop" (click)="changeVisibility()"></div>

<div class="photoAddBox">
	<h2>Valokuva</h2>
	<div class="photoArea">
		<h2 *ngIf="!photo">Lisää kuva itsestäsi.</h2>
		<img
			[ngClass]="previewRatio > 1 ? 'previewwide' : 'previewtall'"
			*ngIf="photo"
			[src]="previewPhoto"
			alt="profiilikuva"
		/>
	</div>

	<!-- The actual input is hidden from the user, because it cannot be styled very well.
		It is instead opened by clicking on the button below -->
	<input
		type="file"
		class="photo-input"
		(change)="onPhotoSelected($event)"
		#photoUpload
	/>

	<div class="buttoncontainer" *ngIf="!photo">
		<button class="graybutton" (click)="photoUpload.click()">
			Valitse kuva tiedostoistasi
		</button>
	</div>

	<div class="buttoncontainer" *ngIf="photo">
		<button class="graybutton" (click)="photoUpload.click()">
			Vaihda kuva
		</button>
		<button class="graybutton">Poista kuva</button>
	</div>

	<!-- Submit-button inside a div to position it correctly -->
	<div class="buttoncontainer" *ngIf="photo" (click)="onSubmit()">
		<button type="submit" class="greenbutton">Tallenna</button>
	</div>

	<div class="closeButton" (click)="changeVisibility()">
		<img
			class="close-icon"
			src="assets\icons\close.svg"
			alt="close-button"
		/>
	</div>
</div>
