<div class="photoAddBox">
	<div class="backdrop" (click)="changeVisibility()"></div>
	<div class="photoTitle">
		<h2>Valokuva</h2>
	</div>
	<div class="photoArea"></div>
	<div class="button">
		<div class="graybutton">Vaihda kuva tiedostoistasi</div>
	</div>
	<div class="editButton">
		<img
			class="close-icon"
			src="assets\icons\close.svg"
			alt="close-button"
		/>
	</div>
</div>

<div class="photoAddedBox">
	<div class="photoTitle">
		<h2>Valokuva</h2>
	</div>
	<div class="photoArea"></div>
	<div class="buttons">
		<div class="graybutton">Vaihda kuva</div>
		<div class="graybutton">Poista kuva</div>
	</div>
	<div class="greenbutton">Tallenna</div>

	<div class="editButton" (click)="changeVisibility()">
		<img
			class="close-icon"
			src="assets\icons\close.svg"
			alt="close-button"
		/>
	</div>
</div>
