<app-breadcrumb
	[color]="breadcrumbColor"
	[routes]="breadcrumbRoute"
></app-breadcrumb>

<div class="container">
	<h1>Tietosuojaseloste</h1>

	<button class="navbutton">Tietosuojaseloste</button>
</div>

<div class="container">
	<h1>Tietosuojaseloste</h1>

	<div class="textbox">
		<p>Kuka tietojasi käsittelee</p>
		<div class="grid-container">
			<div class="item1">
				<p>Palvelu</p>
				<p>DigiMajakka</p>
				<p>Matarankatu 2</p>
			</div>
			<div class="item2">
				<p>Yhteyshenkilö</p>
				<p>Siru Gull</p>
				<p>digimajakka.asiakaspalvelu@gmail.com</p>
			</div>
		</div>

		<h4>Kenen tietoja käsittelemme?</h4>
		<ul>
			<li>Opiskelijoiden</li>
			<li>Toimeksiantoilmoituksen yhteyshenkilön</li>
		</ul>
		<h4>Tiedot, joit käsittelemme</h4>
		<h4>Rekisteriin voidaan merkitä alla olevia tietoja</h4>
		<ul>
			<li>Nimi</li>
			<li>Puhelinnumero</li>
			<li>Sähköpostiosoite</li>
			<li>Koulutusala</li>
			<li>Kaupunki</li>
			<li>Koulu</li>
			<li>Valokuvat</li>
		</ul>
		<h4>Miksi käsittelemme tietojasi</h4>
		<ul>
			<li>Yhteydenpito palvelun tuottamiseksi</li>
		</ul>
		<h4>Mistä saamme tiedot</h4>
		<ul>
			<li>Saamme tiedot sinulta</li>
		</ul>
		<h4>Kuka muu käsittelee tietojasi</h4>
		<ul>
			<li>Amazon web services</li>
		</ul>
		<h4>Poistamme tietosi</h4>
		<ul>
			<li>Jos pyydät meitä tekemään niin</li>
			<li>Jos poistat käyttäjätilisi palvelusta</li>
		</ul>
		<h4>Kuinka suojaamme tietosi</h4>
		<ul>
			<li>Suojatut yhteydet (https, ssl)</li>
			<li>Palveluun pääsy: käyttäjätunnus ja salasana</li>
			<li>Rekisterin käyttäjillä on salassapitovelvollisuus</li>
			<li>
				Tietoihin ei pääse käsiksi kuin työntekijät joille on myönnetty
				Amazon web servicen palveluissa määritellyt käyttöoikeudet
			</li>
		</ul>
		<h3>Rekisterinpitäjä</h3>
		<p>
			Tässä tietosuojaselosteessa kerromme mahdollisimman avoimesti ja
			läpinäkyvästi, miten käsittelemme tietojanne.
		</p>
		<h3>Henkilötietojen käsittelyn tarkoitus ja peruste</h3>
		<table>
			<tr>
				<th></th>
				<th>Käsittelyn tarkoitus</th>
				<th>Käsittelyperuste</th>
			</tr>
			<tr>
				<th>Rekisteröitynyt käyttäjä</th>
				<td>Yhteydenpito palvelun tuottamiseksi</td>
				<td>Rekisteripitäjän oikeutettu etu</td>
			</tr>
			<tr>
				<th>Työnantaja</th>
				<td>Yhteydenpito palvelun tuottamiseksi</td>
				<td>Rekisteripitäjän oikeutettu etu</td>
			</tr>
		</table>
		<h3>Rekisteriin tallennettavat tiedot</h3>

		<table>
			<tr>
				<th>Rekisteröitynyt käyttäjä</th>
				<th>Käyttötarkoitus</th>
			</tr>
			<tr>
				<td>Nimi, puhelinnumero, sähköpostiosoite</td>
				<td>Yhteydenpito</td>
			</tr>
			<tr>
				<td>Koulutusala, koulu, paikkakunta</td>
				<td>Taustatieto</td>
			</tr>
			<tr>
				<td>Valokuva</td>
				<td>Taustatieto</td>
			</tr>
			<tr>
				<td>Yhteydenotot</td>
				<td>Taustatieto</td>
			</tr>
			<tr>
				<th>Toimeksiantoilmoituksen yhteyshenkilö</th>
			</tr>
			<tr>
				<td>Nimi, puhelinnumero, sähköpostiosoite</td>
				<td>Yhteydenpito</td>
			</tr>
			<tr>
				<td>Paikkakunta, yrityksen nimi</td>
				<td>Taustatieto</td>
			</tr>
			<tr>
				<td>Yhteydenotot</td>
				<td>Taustatieto</td>
			</tr>
		</table>

		<table>
			<tr>
				<th>Lisäksi palvelun käytöstä jää seuraavia tietoja</th>
			</tr>
			<tr>
				<td>Käyttämäsi selain, IP-osoite, paikkatieto</td>
				<td>Verkkosivun optimointi</td>
			</tr>
		</table>

		<h3>Käsittelyn kesto</h3>
		<p><b>Rekisteröityneet käyttäjät</b></p>
		<p>
			Rekisteröityneiden käyttäjien tietoja säilytetään niin kauan kuin on
			rekisteröitynyt käyttäjä palvelussamme. Vanhentuneet henkilötiedot
			poistetaan viimeistään kahden vuoden päästä niiden tallentamisesta
			rekisteriin.
		</p>

		<p><b>Toimeksiantoilmoituksen yhteyshenkilö </b></p>
		<p>
			Tietoja säilytetään sen aikaa, kun yhteyshenkilön lähettämä
			toimeksiantoilmoitus on voimassa. Vanhentuneet henkilötiedot
			poistetaan viimeisestään 2 vuoden päästä niiden tallentamisesta
			rekisteriin.
		</p>

		<h3>Oikeutesi</h3>
		<p>
			Sinulla on seuraavat oikeudet, joiden käyttämistä koskevat pyynnöt
			tulee tehdä osoitteeseen:
		</p>
		<p>digimajakka.asiakaspalvelu@gmail.com</p>

		<p><b>Poisto-oikeus</b></p>
		<p>
			Jos koet, että joidenkin sinua koskevien tietojen käsittely ei ole
			tarpeen palvelumme kannalta, sinulla on oikeus pyytää meitä
			poistamaan kyseiset tiedot. Käsittelemme pyyntösi, jonka jälkeen
			poistamme tietosi tai ilmoitamme sinulle perustellun syyn, miksi
			tietoja ei voida poistaa. Mikäli olet asiasta eri mieltä, sinulla on
			oikeus tehdä valitus tietosuojavaltuutetulle. Ohjeet valituksen
			tekemiseen löydät täältä:
			<a href="https://tietosuoja.fi/ilmoitus-tietosuojavaltuutetulle"
				>https://tietosuoja.fi/ilmoitus-tietosuojavaltuutetulle</a
			>
		</p>

		<p><b>Tarkastusoikeus</b></p>
		<p>
			Sinulla on oikeus tarkistaa rekisteriin sinusta tallentamamme
			henkilötiedot.
		</p>

		<p><b>Oikaisuoikeus</b></p>
		<p>
			Jos koet, että jotkin tiedot sinusta ovat epätarkkoja tai
			virheellisiä, sinulla on oikeus pyytää tietojesi oikaisua.
		</p>

		<p><b>Valitusoikeus</b></p>
		<p>
			Sinulla on oikeus tehdä valitus tietosuojavaltuutetulle, jos koet
			että rikomme henkilötietojasi käsitellessämme voimassa olevaa
			tietosuojalainsäädäntöä. Ohjeet valituksen tekemiseen löydät täältä:
			<a href="https://tietosuoja.fi/ilmoitus-tietosuojavaltuutetulle"
				>https://tietosuoja.fi/ilmoitus-tietosuojavaltuutetulle</a
			>
		</p>

		<h3>Tietojen luovutukset</h3>
		<p>Emme luovuta henkilötietojasi tarkasteltavaksi muille tahoille.</p>
		<p>
			Käytämme seuraavia palveluita henkilötietorekisterin ylläpitoon ja
			käsittelyyn:
		</p>
		<ul>
			<li>Amazon web services</li>
		</ul>
		<p>
			Tämä taho tallentava ja säilyttää henkilötietojasi meidän lukuumme.
			Kyseisellä palveluntarjoajalla ei ole oikeutta tarkastella
			tietojasi, ellei se ole välttämätöntä palvelun toimivuuden
			varmistamiseksi.
		</p>

		<h3>Tietojen siirto EU:n ulkopuolelle</h3>
		<p>
			Säilytämme tietosi turvallisesti Ruotsissa Tukholmassa sijaitsevassa
			palvelinkeskuksessa.
		</p>

		<h3>Rekisterin suojauksen periaatteet</h3>
		<p>
			DigiMajakan käyttäjärekisterissä olevia henkilötietoja käsitellään
			luotettavalla tavalla suojatussa ja suljetussa tietojärjestelmässä.
			Rekisterin käyttö on suojattu käyttäjäkohtaisin tunnuksin,
			salasanoin sekä käyttöoikeuksin ja rekisteriä käsitellään suojatun
			yhteyden kautta.
		</p>

		<h3>Evästeet</h3>
		<p>
			DigiMajakka-palvelun sivustolla käytetään evästeitä eli
			cookie-toimintoa. Eväste on pieni, käyttäjän tietokoneelle
			lähetettävä ja säilytettävä tekstitiedosto, jonka avulla voidaan
			tunnistaa usein sivustolla vierailevat kävijät, helpottaa sivustolle
			kirjautumista sekä mahdollistaa yhdistelmätiedon laatiminen
			kävijöistä. Tämän tiedon avulla parantamaan DigiMajakka-palvelun
			toimintaa ja sisältöä.
		</p>
		<p>
			Käyttäjä voi halutessaan hallita evästeasetuksista mitä evästeitä
			DigiMajakka-palvelu tallentaa. Evästeiden käytön estäminen voi
			vaikuttaa joihinkin sivuston toimintoihin.
		</p>

		<h3>Pakolliset evästeet</h3>
		<p>
			Pakollisia evästeitä sivustolta asettavat Google Tag Manager. Tämä
			eväste tallentaa tiedon mm. siitä millaisia muita evästeitä käyttäjä
			on hyväksynyt käytettäväksi.
		</p>

		<h3>Analytiikkaevästeet</h3>
		<p>
			Kävijäanalytiikkaan DigiMajakka käyttää Google
			Analytics-järjestelmää. Google Analytics käyttää evästeitä sen
			tiedon analysoimiseen, kuinka käyttäjät käyttävät verkkopalvelua.
			Evästeeseen tallentuu tiedot siitä, kuinka käytät verkkopalvelua
			(myös IP-osoite). Evästeen tiedot lähetetään Googlen palvelimille ja
			tallennetaan niille, tiedot voivat sijoittua EU-alueen ulkopuolelle.
		</p>

		<h3>Markkinoinnin evästeet</h3>
		<p>
			Verkkosivusto asettaa myös mainonnan kohdentamiseen liittyviä
			evästeitä. Näitä evästeitä asettavat Facebook, Instagram ja Google.
		</p>
	</div>
</div>
