<!-- Notification that is shown if an useraccount with given email doesn't exist -->

<!-- Backdrop styles come from global styles. Backdrop causes the form to be displayed on top of other components -->
<div class="backdrop">
	<!-- Container for the notification -->
	<div class="container">
		<!-- Button to close the edit-window -->
		<div class="close-button" (click)="changeVisibility()">
			<img
				class="close-icon"
				src="assets\icons\close.svg"
				alt="close-button"
			/>
		</div>
		<div *ngIf="accountNotFound">
			<h2>Sähköpostilla ei löytynyt tiliä.</h2>
			<p>
				Tarkista oikeinkirjoitus tai rekisteröidy käyttäjäksi, jos
				sinulla ei ole vielä käyttäjätiliä.
			</p>
			<!-- Buttons inside a div to position them correctly -->
			<div class="buttoncontainer">
				<!-- ADD FUNCTIONALITY TO THESE BUTTONS -->
				<button class="greenbutton" (click)="register.emit()">
					Rekisteröidy
				</button>
				<button class="graybutton" (click)="changeVisibility()">
					Peruuta
				</button>
			</div>
		</div>

		<div *ngIf="accountNotConfirmed">
			<h2>Tiliä ei ole vielä vahvistettu.</h2>
			<p>Sähköpostia ei ole vielä vahvistettu koodilla.</p>
			<p class="bold">Koodi on lähetetty sähköpostiisi.</p>
			<!-- Buttons inside a div to position them correctly -->
			<div class="buttoncontainer">
				<!-- ADD FUNCTIONALITY TO THESE BUTTONS -->
				<button class="greenbutton" (click)="confirm.emit()">
					Syötä koodi
				</button>
				<button class="graybutton" (click)="resendCode()">
					Tilaa uusi koodi
				</button>
			</div>
		</div>
	</div>
</div>
