
<div class="topline">
    <button class="backbutton" (onclick)="back()">Takaisin</button>
 
    <button class="navbutton" >Käyttöehdot</button>
  </div>
  
 <div class="container">


    <h1>Käyttöehdot</h1>

    <div class="textbox">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices mi non urna consequat, sed consectetur elit pellentesque. Sed sit amet velit quis justo commodo pretium. Ut sagittis vehicula purus, nec ultrices eros volutpat vel. Donec tellus ligula, vulputate vel urna a, semper varius erat. Fusce diam libero, finibus et malesuada vehicula, sagittis vel nulla. Nunc pretium justo nisi, aliquam porttitor massa lacinia vitae. Nullam consequat nulla urna, ut suscipit mauris interdum ut.

    Integer in dui a elit congue facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc hendrerit interdum sapien id ultrices. Donec nec ex mollis sapien mattis mattis vel in leo. Fusce bibendum bibendum commodo. Integer condimentum leo orci, non pulvinar velit mattis sed. In tincidunt placerat blandit. Donec aliquam, sapien sit amet molestie eleifend, diam orci tincidunt diam, eu auctor quam ligula placerat magna. Integer elementum molestie risus, id dapibus metus eleifend at. Mauris in lacus eget nisl fringilla porttitor id non dolor.
    
    Maecenas lacinia in elit nec tincidunt. Fusce tristique dui vitae felis tincidunt, id egestas massa commodo. Maecenas vestibulum in neque a tristique. Sed varius pretium vehicula. Duis id purus vitae ex ultricies venenatis et vel nisi. Donec in vulputate leo. Donec nec porttitor turpis. Aliquam erat volutpat. Proin ac lectus finibus, semper eros ut, interdum risus. Nulla sit amet augue ipsum. Nulla sed massa orci. Aliquam erat volutpat. Suspendisse at justo consectetur, euismod ante vel, posuere turpis. Aliquam varius elit felis, non egestas metus posuere in.
    
    Donec eu nisl sollicitudin, feugiat leo non, commodo quam. Etiam dictum massa vitae pharetra suscipit. Sed a vulputate nunc, sed imperdiet elit. Proin iaculis nisi et bibendum finibus. Fusce nec urna aliquam, sodales ipsum ac, lobortis lectus. Aliquam imperdiet eros eget ante pretium, et efficitur quam iaculis. Aenean nec ante eu magna lobortis iaculis quis ut lectus. Donec sed faucibus augue. Sed eu pharetra turpis. Curabitur imperdiet ornare ipsum, sed congue augue imperdiet egestas. Sed sapien mauris, ultrices id gravida nec, consequat nec tellus. Pellentesque id accumsan lorem. Quisque eleifend augue mi, nec ullamcorper urna porta sit amet. Donec a libero fringilla, semper turpis ultricies, euismod mauris.</p>
    </div>

 </div>