<!--Yläpalkki, jaettu gridillä kolmeen 1fr osioon ja rakennettu 
	upperbox first/second/third sisälle-->

<div class="upperContent">
	<div class="upperBox first">
		<div class="editButton upleft" (click)="changePhotoVisibility()">
			<img
				class="edit-icon"
				src="assets\icons\edit.svg"
				alt="edit-icon"
			/>
		</div>
		<img src="https://via.placeholder.com/576x403.png" class="profile" />
	</div>
	<div class="upperBox second">
		<div
			class="editButton upcenter"
			(click)="changePersonalEditVisibility()"
		>
			<img
				class="edit-icon"
				src="assets\icons\edit.svg"
				alt="edit-icon"
			/>
		</div>
		<h2 *ngIf="loggedProfile">
			{{ loggedProfile[0].firstname }} {{ loggedProfile[0].familyname }}
		</h2>
		<p class="listtext">{{ loggedProfile[0].studyfield }}</p>
		<!--LISÄÄ KOULUHAKU-->
		<p class="listtext">
			{{ loggedProfile[0].School_schoolid }} LISÄÄ KOULUNHAKU
			TIETOKANNASTA
		</p>
		<p class="listtext" *ngIf="loggedProfile[0].yearofstudy === 1">
			{{ loggedProfile[0].yearofstudy }}:sen vuoden opiskelija
		</p>
		<p class="listtext" *ngIf="loggedProfile[0].yearofstudy === 2">
			{{ loggedProfile[0].yearofstudy }}:sen vuoden opiskelija
		</p>
		<p class="listtext" *ngIf="loggedProfile[0].yearofstudy === 3">
			{{ loggedProfile[0].yearofstudy }}:nnen vuoden opiskelija
		</p>
		<p class="listtext" *ngIf="loggedProfile[0].yearofstudy >= 4">
			4:nnen (tai enemmän) vuoden opiskelija
		</p>
		<p class="listtext">
			{{ loggedProfile[0].City_cityid }} LISÄÄ KAUPUNGIN HAKU
			TIETOKANNASTA
		</p>
	</div>
	<div class="upperBox third">
		<div class="editButton upright" (click)="changeVisibility()">
			<img
				class="edit-icon"
				src="assets\icons\edit.svg"
				alt="edit-icon"
			/>
		</div>
		<h2>Yhteystiedot</h2>
		<p>Sähköposti: <br />{{ loggedProfile[0].UserAccount_email }}</p>
		<p>
			Puhelinnumero: <br />
			{{ loggedProfile[0].phonenumber }}
		</p>
		<div class="socials"></div>
	</div>
</div>
<!--Alempi osio jaettu gridillä kahteen 1fr osioon, sekä keskiviiva lisätty väliin-->
<div class="lowerContent">
	<!--Alemman tason viivan vasen puoli-->
	<div class="lowerBox left">
		<div
			class="editButton lowercenter"
			(click)="changeAboutMeEditVisibility()"
		>
			<img
				class="edit-icon"
				src="assets\icons\edit.svg"
				alt="edit-icon"
			/>
		</div>
		<h3>Tietoja minusta</h3>
		<p>{{ loggedProfile[0].aboutme }}</p>
		<h3>Millaista työtä etsin</h3>
		<p>{{ loggedProfile[0].lookingfor }}</p>
	</div>
	<div class="lowerMid">
		<div class="splitStick"></div>
	</div>
	<!--Alemman tason valkoisen viivan oikea puoli-->
	<div class="lowerBox">
		<!--Läpinäkyvälaatikko joka sisältää tagit-->
		<div class="glassbox">
			<h4>Osaaminen</h4>
			<div class="editButton lowercornerright">
				<img
					class="edit-icon"
					src="assets\icons\edit.svg"
					alt="edit-icon"
				/>
			</div>
			<div class="tags" *ngFor="let skill of skills">
				<div class="tag">
					<p>{{ skills[0].name }}</p>
				</div>
				<div class="tag"><p>Angular</p></div>
				<div class="tag"><p>Frontend</p></div>
				<div class="tag"><p>Valokuvaus</p></div>
				<div class="tag"><p>Svelte</p></div>
				<div class="tag"><p>Valokuvaus</p></div>
				<div class="tag"><p>AWS</p></div>
				<div class="tag"><p>Video</p></div>
				<div class="tag"><p>Graafinen suunnittelu</p></div>
				<div class="tag"><p>O365</p></div>
				<div class="tag"><p>Angular</p></div>
				<div class="tag"><p>Frontend</p></div>
				<div class="tag"><p>Valokuvaus</p></div>
				<div class="tag"><p>Svelte</p></div>
				<div class="tag"><p>Valokuvaus</p></div>
				<div class="tag"><p>AWS</p></div>
				<div class="tag"><p>Video</p></div>
				<div class="tag"><p>Graafinen suunnittelu</p></div>
				<div class="tag"><p>O365</p></div>
			</div>
			<div class="graybutton">Näytä kaikki</div>
		</div>
		<!--Lasilaatikon alla olevat nappulat-->
		<div class="checkboxRow">
			<!-- ADD *ngIf TO CHECKMARKS -->
			<div class="btnwithcheckmark">
				<div
					class="bluebutton"
					(click)="changeAttachmentEditVisibility()"
				>
					Lataa CV
				</div>
				<img
					class="checkmark-icon"
					src="assets\icons\checkmark.svg"
					alt="checkmark-icon"
				/>
			</div>
			<div class="btnwithcheckmark">
				<div
					class="bluebutton"
					(click)="changeAttachmentEditVisibility()"
				>
					Portfolio
				</div>
				<img
					class="checkmark-icon"
					src="assets\icons\checkmark.svg"
					alt="checkmark-icon"
				/>
			</div>
			<div class="btnwithcheckmark">
				<div
					class="bluebutton"
					(click)="changeAttachmentEditVisibility()"
				>
					GitHub
				</div>
				<img
					class="checkmark-icon"
					src="assets\icons\checkmark.svg"
					alt="checkmark-icon"
				/>
			</div>
		</div>

		<!--Alimmat jutut-->
		<div class="contentfooter">
			<div class="leftflex">
				<h5>Aseta profiili julkiseksi</h5>
				<div class="enableDisable">
					<div class="enableDisableBall"></div>
				</div>
			</div>
			<div class="greenbutton">Tallenna</div>
		</div>
	</div>
</div>

<app-add-photo *ngIf="isPhotoVisible"></app-add-photo>
<app-edit-personal-info *ngIf="isPersonalEditVisible"></app-edit-personal-info>
<app-edit-contact-info *ngIf="isEditVisible"></app-edit-contact-info>
<app-edit-about-me *ngIf="isAboutMeEditVisible"></app-edit-about-me>
<app-edit-attachments *ngIf="isAttachmentEditVisible"></app-edit-attachments>
