<app-breadcrumb
	[color]="breadcrumbColor"
	[routes]="breadcrumbRoute"
></app-breadcrumb>

<!--Yläpalkki, jaettu gridillä kolmeen 1fr osioon ja rakennettu 
	upperbox first/second/third sisälle-->
<div class="upperBg">
	<div class="upperContent">
		<div class="photowrapper">
			<div class="profilephoto">
				<!-- Button to open photo-edit window -->
				<div
					class="editButton upleft"
					(click)="changePhotoVisibility()"
				>
					<img
						class="edit-icon"
						src="assets\icons\edit.svg"
						alt="edit-icon"
					/>
				</div>
				<img
					[ngClass]="photoRatio > 1 ? 'photowide' : 'phototall'"
					*ngIf="!isProfilePhotoLoading"
					[src]="getSanitizedUrl(profilePhoto)"
					alt="Profilephoto"
				/>
			</div>
		</div>

		<div class="upperBox second">
			<!-- Button to open personalinfo-edit-->
			<div
				class="editButton upcenter"
				(click)="changePersonalEditVisibility()"
			>
				<img
					class="edit-icon"
					src="assets\icons\edit.svg"
					alt="edit-icon"
				/>
			</div>
			<!-- Userprofiles first- and lastname -->
			<h2 *ngIf="loggedProfile">
				{{ loggedProfile[0].firstname }}
				{{ loggedProfile[0].familyname }}
			</h2>
			<!-- Userprofiles field of study -->
			<p class="listtext">Koulutusohjelma:</p>
			<p class="listtext value">{{ loggedProfile[0].studyfield }}</p>
			<!-- Schoolname -->
			<p class="listtext">Koulun nimi:</p>
			<p class="listtext value">
				{{ loggedProfile[0].UserAccount_School_name }}
			</p>
			<!-- Year of study, gives different text based on the year-value -->
			<p class="listtext">Opintovuosi:</p>
			<p
				class="listtext value"
				*ngIf="loggedProfile[0].yearofstudy === 1"
			>
				{{ loggedProfile[0].yearofstudy }}. vuoden opiskelija
			</p>
			<p
				class="listtext value"
				*ngIf="loggedProfile[0].yearofstudy === 2"
			>
				{{ loggedProfile[0].yearofstudy }}:sen vuoden opiskelija
			</p>
			<p
				class="listtext value"
				*ngIf="loggedProfile[0].yearofstudy === 3"
			>
				{{ loggedProfile[0].yearofstudy }}. vuoden opiskelija
			</p>
			<p class="listtext value" *ngIf="loggedProfile[0].yearofstudy >= 4">
				4:nnen (tai enemmän) vuoden opiskelija
			</p>

			<!-- City-name -->
			<p class="listtext">Paikkakunta:</p>
			<p class="listtext value">
				{{ loggedProfile[0].City_name }}
			</p>
		</div>
		<div class="upperBox third">
			<!-- Button to open contactinfo-edit-->
			<div class="editButton upright" (click)="changeContactVisibility()">
				<img
					class="edit-icon"
					src="assets\icons\edit.svg"
					alt="edit-icon"
				/>
			</div>
			<h2>Yhteystiedot</h2>
			<p class="listtext">Sähköposti:</p>
			<p class="listtext value">{{ loggedProfile[0].email }}</p>
			<p class="listtext">Puhelinnumero:</p>
			<p class="listtext value">
				{{ loggedProfile[0].phonenumber }}
			</p>
			<!-- Social media icons. -->
			<div
				*ngIf="
					someLinks[0].linkedin ||
					someLinks[0].facebook ||
					someLinks[0].instagram ||
					someLinks[0].twitter
				"
				class="socials"
			>
				<!-- Social media icons with links. Icon is only displayed if the profile has a link set to that service -->
				<a *ngIf="someLinks[0].linkedin" [href]="someLinks[0].linkedin">
					<img
						class="some-icon linkedin"
						src="assets\icons\In-2C-101px-TM.png"
						alt="linkedin-icon"
					/>
				</a>
				<a *ngIf="someLinks[0].facebook" [href]="someLinks[0].facebook">
					<img
						class="some-icon"
						src="assets\icons\f_logo_RGB-Blue_100.png"
						alt="facebook-icon"
					/>
				</a>
				<a
					*ngIf="someLinks[0].instagram"
					[href]="someLinks[0].instagram"
				>
					<img
						class="some-icon"
						src="assets\icons\Instagram_Glyph_Gradient.png"
						alt="instagram-icon"
					/>
				</a>
				<a *ngIf="someLinks[0].twitter" [href]="someLinks[0].twitter">
					<img
						class="some-icon"
						src="assets\icons\Twittersocialicons-roundedsquare-blue.png"
						alt="twitter-icon"
					/>
				</a>
			</div>
		</div>
	</div>
</div>
<!--Alempi osio jaettu gridillä kahteen 1fr osioon, sekä keskiviiva lisätty väliin-->
<div class="lowerBg">
	<div class="lowerContent">
		<!--Alemman tason viivan vasen puoli-->
		<div class="lowerBox left">
			<!-- Button to open aboutme-edit-->
			<div
				class="editButton lowercenter"
				(click)="changeAboutMeEditVisibility()"
			>
				<img
					class="edit-icon"
					src="assets\icons\edit.svg"
					alt="edit-icon"
				/>
			</div>
			<h3>Tietoja minusta</h3>
			<p>{{ loggedProfile[0].aboutme }}</p>
			<h3>Millaista työtä etsin</h3>
			<p>{{ loggedProfile[0].lookingfor }}</p>
		</div>
		<div class="lowerMid">
			<div class="divider"></div>
		</div>
		<!--Alemman tason valkoisen viivan oikea puoli-->
		<div class="lowerBox right">
			<!--Läpinäkyvälaatikko joka sisältää tagit-->
			<div class="glassbox">
				<h4>Osaaminen</h4>
				<!-- Button to open skills-edit-->
				<div
					class="editButton lowercornerright"
					(click)="changeSkillsEditVisibility()"
				>
					<img
						class="edit-icon"
						src="assets\icons\edit.svg"
						alt="edit-icon"
					/>
				</div>
				<div class="tags">
					<p *ngIf="skills.length === 0">Lisää tähän taitojasi.</p>
					<!-- Every skill put inside their own tag -->
					<div class="tag" *ngFor="let skill of skills">
						<p>{{ skill.name }}</p>
					</div>
				</div>
			</div>
			<!--Lasilaatikon alla olevat nappulat-->
			<div class="checkboxRow">
				<div class="btnwithcheckmark">
					<div
						class="bluebutton"
						(click)="changeAttachmentEditVisibility()"
					>
						Lataa CV
					</div>
					<img
						*ngIf="someLinks[0].cv"
						class="checkmark-icon"
						src="assets\icons\checkmark.svg"
						alt="checkmark-icon"
					/>
				</div>
				<div class="btnwithcheckmark">
					<div
						class="bluebutton"
						(click)="changeAttachmentEditVisibility()"
					>
						Portfolio
					</div>
					<img
						*ngIf="someLinks[0].portfolio"
						class="checkmark-icon"
						src="assets\icons\checkmark.svg"
						alt="checkmark-icon"
					/>
				</div>
				<div class="btnwithcheckmark">
					<div
						class="bluebutton"
						(click)="changeAttachmentEditVisibility()"
					>
						GitHub
					</div>
					<img
						*ngIf="someLinks[0].github"
						class="checkmark-icon"
						src="assets\icons\checkmark.svg"
						alt="checkmark-icon"
					/>
				</div>
			</div>

			<!--Alimmat jutut-->
			<div class="contentfooter">
				<div class="leftflex">
					<h5>Aseta profiili julkiseksi</h5>
					<div
						(click)="updatePublicity()"
						[ngClass]="
							loggedProfile[0].public == 0
								? 'toggleBtnDisabled'
								: 'toggleBtnEnabled'
						"
					>
						<div
							[ngClass]="
								loggedProfile[0].public == 0
									? 'toggleBtnBallDisabled'
									: 'toggleBtnBallEnabled'
							"
						></div>
					</div>
				</div>
				<!-- <div class="greenbutton">Tallenna</div> -->
			</div>
		</div>
	</div>
</div>

<!-- IMPLEMENT LATER
<div class="confirmation" *ngIf="confirmation">
	Tiedot päivitetty onnistuneesti.
</div>
-->

<!-- Forms to update profile.  -->
<app-add-photo
	*ngIf="isPhotoVisible"
	[loggedProfile]="loggedProfile"
	(updatedProfile)="updated()"
></app-add-photo>
<app-edit-personal-info
	*ngIf="isPersonalEditVisible"
	[loggedProfile]="loggedProfile"
	[city]="city"
	(updatedProfile)="updated()"
></app-edit-personal-info>
<app-edit-contact-info
	*ngIf="isEditVisible"
	[someLinks]="someLinks"
	[loggedProfile]="loggedProfile"
	(updatedProfile)="updated()"
></app-edit-contact-info>
<app-edit-about-me
	*ngIf="isAboutMeEditVisible"
	[loggedProfile]="loggedProfile"
	(updatedProfile)="updated()"
></app-edit-about-me>
<app-edit-skills
	*ngIf="isSkillEditVisible"
	[loggedProfile]="loggedProfile"
	[profileSkills]="skills"
	(updatedProfile)="updated()"
></app-edit-skills>
<app-edit-attachments
	*ngIf="isAttachmentEditVisible"
	[loggedProfile]="loggedProfile"
	[someLinks]="someLinks"
	(updatedProfile)="updated()"
></app-edit-attachments>
