.listtext {
  margin: 0;
}

.editButton {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.53125em 0.53125em 0 0.53125em;
  width: 52px;
  height: 52px;
  background-color: var(--green);
  border-radius: 6px;
  z-index: 7;
}

.editButton.lowercornerright {
  justify-self: end;
  position: fixed;
  z-index: 10;
  top: -26px;
  right: -26px;
}

.editButton.lowercenter {
  justify-self: end;
  position: absolute;
  top: 20px;
  right: -50px;
  z-index: 11;
}

.editButton.upleft {
  justify-self: end;
  position: absolute;
  z-index: 11;
  top: 30px;
  right: 65px;
}

.editButton.upcenter {
  justify-self: end;
  position: absolute;
  z-index: 11;
  top: 30px;
  left: 315px;
}

.editButton.upright {
  justify-self: end;
  position: absolute;
  z-index: 11;
  top: 30px;
  left: 315px;
}

.edit-icon {
  height: 35px;
  width: 35px;
}

.upperContent {
  background-color: var(--mediumblue);
  max-width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 1024px;
  padding-left: 80px;
}

.lowerContent {
  background-color: var(--darkgray);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  min-width: 1024px;
  max-height: fit-content;
}

.lowerBox {
  padding: 20px;
  min-width: 400px;
  position:relative;
}

.lowerBox.left {
  padding-left: 80px;
  padding-right: 40px;
}

.lowerMid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

.profile {
  height: 368px;
  width: 368px;
  border-radius: 20px;
  box-shadow: 0px 45px 30px -25px rgba(0, 0, 0, 0.7);
  position: relative;
  top: 60px;
  right: 90px;
  z-index: 9;

}

.upperBox {
  position: relative;
}

.upperBox.first {
  display: flex;
  justify-content: end;
}

.upperBox.second {
  padding: 50px;
  padding-right: 30px;
  display:flex;
  flex-direction: column;
  min-width:315px;
}

.upperBox.third {
  padding: 50px;
  padding-right: 30px;
  display:flex;
  flex-direction: column;
}

.socials {
  background-color: var(--lightblue);
  height: 55px;
  width: 239px;
  border-radius: 20px;
}

.splitStick {
  height: 90%;
  width: 1.1px;
  background-color: var(--lightblue);
}

p {
  color: var(--lightblue);
}

h2 {
  color: var(--lightblue);
}

h3 {
  color: var(--lightblue);
  margin-top: 50px;
}

h5 {
  color: var(--lightblue);
}

.glassbox {
  display: grid;
  gap: 10px;
  max-width: 600px;
  padding: 20px;
  margin: 30px;
}

.tags {
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  display:flex;
  background-color: var(--mediumblue);
  border-radius: 10px;
  color: var(--lightblue);
  padding:10px;
  height: 15px;
  align-items: center;
}

.graybutton {
  width: 90px;
  margin: 10px;
}

h4 {
  font-size: 1.6rem;
  margin: 0px;
  color: var(--darkblue)
}

.checkboxRow{
 margin-left: 30px;
 margin-top: 4em;
 display:grid;
 grid-template-columns: 120px 120px 120px 120px 120px;
 gap: 10px;
 justify-items: center;
}

.btnwithcheckmark {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.btnwithcheckmark>img {
  margin: 0;
}

.checkmark-icon {
  max-width: 50px;
}

.bluebutton {
  min-width: 65px;
}

.contentfooter {
  display: flex;
  margin-left: 30px;
  margin-top: 2em;
  margin-bottom: 3em;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  max-width: 650px;
}

.enableDisable {
  max-width: 71px;
  height: 38px;
  border-radius: 20px;
  background-color: var(--lightblue);
  border: 2px solid var(--mediumblue);
  display: flex;
  width:100%
}

.enableDisableBall {
  width:33px;
  height: 33px;
  background-color: var(--mediumblue);
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  margin-left: 2px;
}

.leftflex {
  display:flex;
  align-items: center;
}

.greenbutton {
  margin-right: 20px;
}
