.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>img {
  height: 150px;
  width: 75px;
  margin-bottom: 4em;
}

.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.slides {
  margin: 0 1em;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  width: 475px;
  padding: 0 0.25em;
  height: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.slides>div {
  scroll-snap-align: start;
}

.slides img {
  width: 150px;
  object-fit: contain;
}