<!-- Backdrop styles come from global styles. Backdrop causes the form to be displayed on top of other components -->
<div class="backdrop" (click)="changeVisibility()">
	<div class="bg" (click)="$event.stopPropagation()">
		<div class="glassbox">
			<!-- Button to close the edit-window -->
			<div class="close-button" (click)="changeVisibility()">
				<img
					class="close-icon"
					src="assets\icons\close.svg"
					alt="close-button"
				/>
			</div>

			<h2>Palauta salasana</h2>

			<!-- Form for password reset -->
			<form #f="ngForm" (click)="$event.stopPropagation()">
				<!-- Input for email -->
				<label>
					Sähköposti *
					<input
						type="text"
						required
						minlength="2"
						maxlength="45"
						name="email"
						[(ngModel)]="email"
					/>
				</label>
			</form>

			<!-- Error that is shown if there was an error while sending the reset code -->
			<p *ngIf="resetError" class="error updateErr">
				Virhe palauttamisessa. Tarkista sähköpostiosoite.
			</p>

			<!-- Submit-button and textlink -->
			<div class="btnandtxt">
				<!-- Button to send the reset-code -->
				<button
					[disabled]="!f.valid"
					(click)="onSubmit(f.value)"
					type="submit"
					class="greenbutton"
				>
					Lähetä koodi sähköpostiin
				</button>
				<div>
					<!-- Link to registration-form -->
					<p class="linktext" (click)="showRegisterForm()">
						Uusi käyttäjä?<br />
						Rekisteröidy tästä
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
