<!-- Backdrop styles come from global styles. Backdrop causes the form to be displayed on top of other components -->
<div class="backdrop" (click)="changeVisibility()">
	<div class="bg" (click)="$event.stopPropagation()">
		<div class="glassbox">
			<!-- Button to close the edit-window -->
			<div class="close-button" (click)="changeVisibility()">
				<img
					class="close-icon"
					src="assets\icons\close.svg"
					alt="close-button"
				/>
			</div>

			<h2 *ngIf="!codeForm">Palauta salasana</h2>

			<h2 *ngIf="codeForm">Uusi salasana</h2>

			<div *ngIf="!codeForm">
				<!-- Form for password reset -->
				<form #f="ngForm" (click)="$event.stopPropagation()">
					<p class="help">
						Syötä sähköposti-osoitteesi, niin lähetämme sinulle
						salasanan palautuskoodin.
					</p>
					<!-- Input for email -->
					<label>
						Sähköposti *
						<input
							type="text"
							required
							minlength="2"
							maxlength="45"
							name="email"
							[(ngModel)]="email"
						/>
					</label>
				</form>

				<!-- Error that is shown if there was an error while sending the reset code -->
				<p *ngIf="resetError" class="error updateErr">
					Virhe lähettämisessä. Tarkista sähköpostiosoite.
				</p>

				<!-- Submit-button and textlink -->
				<div class="btnandtxt">
					<!-- Button to send the reset-code -->
					<button
						[disabled]="!f.valid"
						(click)="onSubmit(f.value)"
						type="submit"
						class="greenbutton"
					>
						Lähetä koodi sähköpostiin
					</button>
					<div>
						<!-- Link to registration-form -->
						<p class="linktext" (click)="showRegisterForm()">
							Uusi käyttäjä?<br />
							Rekisteröidy tästä
						</p>
					</div>
				</div>
			</div>

			<div *ngIf="codeForm" class="codeform">
				<!-- Form for inputting reset-code -->
				<form #codeform="ngForm" (click)="$event.stopPropagation()">
					<p class="help">
						Syötä 6-numeroinen koodi, jonka lähetimme sinulle
						sähköpostiisi.
					</p>

					<p *ngIf="newCodeSent" class="help">
						Uusi koodi lähetetty!
					</p>
					<!-- Input for reset-code -->
					<label>
						Koodi *
						<input
							type="text"
							required
							minlength="2"
							maxlength="45"
							name="code"
							[(ngModel)]="code"
						/>
					</label>

					<!-- Input for password -->
					<label>
						Uusi salasana *
						<input
							[ngClass]="{errorinput: pwError}"
							type="password"
							required
							minlength="2"
							maxlength="45"
							name="password"
							[(ngModel)]="password"
						/>
					</label>

					<!-- Error that is displayed if the user did not confirm password correctly -->
					<p class="error" *ngIf="pwError">
						Salasanat eivät vastaa toisiaan
					</p>

					<!-- Input for password confirmation -->
					<label>
						Salasana uudelleen *
						<input
							[ngClass]="{errorinput: pwError}"
							type="password"
							required
							minlength="2"
							maxlength="45"
							name="passwordConfirm"
							[(ngModel)]="passwordConfirm"
						/>
					</label>

					<!-- Error that is displayed if the user did not confirm password correctly -->
					<p class="error" *ngIf="pwError">
						Salasanat eivät vastaa toisiaan
					</p>
				</form>

				<!-- Error that is shown if there was an error while sending the reset code -->
				<p *ngIf="resetError" class="error updateErr">
					Virhe salasanan nollaamisessa. Tarkista koodin
					oikeinkirjoitus
				</p>

				<!-- Submit-button and textlink -->
				<div class="btnandtxt">
					<div>
						<!-- Link to registration-form -->
						<p class="linktext" (click)="sendNewResetCode()">
							Etkö saanut koodia?<br />
							Tarkista roskapostikansio tai tilaa uusi koodi
							tästä.
						</p>
					</div>
					<!-- Button to send the reset-code -->
					<button
						[disabled]="!codeform.valid"
						(click)="resetPasswordWithCode(codeform.value)"
						type="submit"
						class="greenbutton"
					>
						Tallenna
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
