<!-- Backdrop styles come from global styles. Backdrop causes the form to be displayed on top of other components -->
<div class="backdrop">
	<!-- Form is the container for the form, and provides the formdata for Angular -->
	<div class="container">
		<h2>Sinulla on tallentamattomia tietoja.</h2>
		<h2>Haluatko tallentaa muutokset?</h2>
		<!-- Submit-button inside a div to position it correctly -->
		<div class="buttoncontainer">
			<!-- ADD FUNCTIONALITY TO THESE BUTTONS -->
			<button type="submit" class="greenbutton">Tallenna</button>
			<button class="graybutton">Hylkää muutokset</button>
		</div>
	</div>
</div>
