<!-- Notification that is shown if a user closes a form with unsaved changes -->

<!-- Backdrop styles come from global styles. Backdrop causes the form to be displayed on top of other components -->
<div class="backdrop">
	<!-- Container for the notification -->
	<div class="container">
		<h2>Sinulla on tallentamattomia tietoja.</h2>
		<h2>Haluatko tallentaa muutokset?</h2>
		<!-- Buttons inside a div to position them correctly -->
		<div class="buttoncontainer">
			<!-- ADD FUNCTIONALITY TO THESE BUTTONS -->
			<button type="submit" class="greenbutton">Tallenna</button>
			<button class="graybutton">Hylkää muutokset</button>
		</div>
	</div>
</div>
