ul {
  padding: 0;
}

li {
  list-style: none;
  border-bottom: 1px solid var(--lightblue);
  border-left: 8px solid var(--green);
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

h2 {
  font-size: 1.125em;
  margin: 0.6em 0 1em 1em;
  font-weight: 400;
}

h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 90%;
}

.headercontainer {
  min-width: 8em;
  max-width: 8em;
  overflow-wrap: break-word;
}