<!-- List of job-listings, will later come from database -->
<ul class="jobs">
	<p *ngIf="jobs.length < 1">Haetaan työilmoituksia..</p>

	<!-- li-element will be created for each listing in the jobs-array with *ngFor -->
	<li *ngFor="let job of jobs.slice(0, 3)">
		<!-- This is still placeholder -->
		<div class="headercontainer">
			<h2 *ngIf="job.company">{{ job.company }}</h2>
			<h2 *ngIf="!job.company">
				{{ job.firstname }} {{ job.familyname }}
			</h2>
		</div>
		<div class="info">
			<h3>{{ job.jobtitle }}</h3>

			<!-- If description is over 90 characters long, the element will get class "desc"
      that limits the description to maximum 2 rows of text. -->
			<p [ngClass]="{desc: job.description.length > 90}">
				{{ job.description }}
			</p>
		</div>
	</li>
</ul>
