<div class="card">
	<!-- Profilephoto displayed here -->
	<div class="profilephoto">
		<img
			[ngClass]="photoRatio > 1 ? 'photowide' : 'phototall'"
			*ngIf="!isProfilePhotoLoading"
			[src]="getSanitizedUrl(profilePhoto)"
			alt="Profilephoto"
		/>
	</div>

	<!-- Skills are displayed as a list of tags -->
	<div class="tags">
		<!-- Every skill put inside their own tag -->
		<div class="tag" *ngFor="let skill of skills">
			<p>{{ skill.name }}</p>
		</div>
	</div>

	<!-- Name of the profile -->
	<p class="name">
		{{ profile.firstname }}
		{{ profile.familyname }}
	</p>

	<!-- Button inside a container to position it correctly -->
	<div class="btncontainer">
		<!-- Button that redirects to the profiles page -->
		<button
			class="greenbutton"
			[routerLink]="['/profiles', this.profile.userprofileid]"
		>
			Katso profiili
		</button>
	</div>
</div>
