.card {
  padding: 32px;
  box-sizing: border-box;
  width: 669px;
  height: 367px;
  background: var(--mediumblue);
  box-shadow: 0px 45px 35px -20px rgba(56, 64, 67, 0.7);
  border-radius: 20px;
  display: grid;
  grid-template-areas: "img tags"
                       "name button"  ;
/* JATKA TÄSTÄ */
  grid-template-rows: 189px auto;
  gap: 2em;
}

.img {
  border: 1px solid red;
  width: 189px;
  height: 189px;
}

.profilephoto {
  height: 189px;
  width: 189px;
  border-radius: 20px;
  box-shadow: 0px 45px 30px -25px rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.photowide {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  max-height: stretch;
}

.phototall {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: 189px;
}

.tags {
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 350px;
}

.tags>p {
  margin: 0;
  color: var(--darkblue);
  font-size: 1.2em;
}

.tag {
  display:flex;
  flex-direction: row;
  background-color: var(--darkgray);
  border-radius: 10px;
  color: var(--lightblue);
  padding:10px;
  height: 15px;
  align-items: center;
}

.name {
  font-size: 1.875em;
}

.btncontainer {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}