<div class="card">
	<div class="profilephoto">
		<img
			[ngClass]="photoRatio > 1 ? 'photowide' : 'phototall'"
			*ngIf="!isProfilePhotoLoading"
			[src]="getSanitizedUrl(profilePhoto)"
			alt="Profilephoto"
		/>
	</div>

	<div class="tags">
		<!-- Every skill put inside their own tag -->
		<div class="tag" *ngFor="let skill of skills">
			<p>{{ skill.name }}</p>
		</div>
	</div>
	<p class="name">
		{{ profile.firstname }}
		{{ profile.familyname }}
	</p>
	<div class="btncontainer">
		<button
			class="greenbutton"
			[routerLink]="['/profiles', this.profile.userprofileid]"
		>
			Katso profiili
		</button>
	</div>
</div>
