<app-breadcrumb
	[color]="breadcrumbColor"
	[routes]="breadcrumbRoute"
></app-breadcrumb>

<div class="grid-container">
	<div class="grid-item1">
		<h1 class="header1">Ohjeita</h1>

		<pre class="headingtext">
        Opiskelija, kirjaudu sisään ja löydä itsellesi töitä! 
        Luo itsellesi profiili ja anna toimeksiantajien löytää sinut!
        </pre>

		<div class="glassbox box1">
			<h3>Kevytyrittäjyys</h3>
			<pre class="glassboxtext">
Tämän helpompaa yrittäjyys ei voi enää olla.
Katso ohjeet ja aloita tienaaminen!
      </pre
			>
			<button class="graybutton" routerLink="/guide/forstudent">
				Ohjeita
			</button>
		</div>
		<div class="glassbox box2">
			<h3>Dokumenttimalleja</h3>
			<pre class="glassboxtext">
Lataa valmiita pohjia eri dokumenteille
mm. laskutukseen, työtodistukselle ja CV:lle.
      </pre
			>
			<div class="buttons">
				<button class="graybutton">Tutustu dokumentteihin</button>
			</div>
		</div>
	</div>

	<div class="grid-item2">
		<h1 class="header2">Usein kysytyt kysymykset</h1>

		<details>
			<summary>Kenelle palvelu on tarkoitettu?</summary>

			<div>
				Kuka tahansa voi jättää toimeksiannon. DigiMajakka on tarkoitettu yrityksille ja yksityishenkilöille, jotka haluavat saada kilpailukykyiseen hintaan Jyväskylän ammattikorkeakoulun opiskelijan tekemään digi ja it-alan työtehtäviä. Huomaa että jättämäsi toimeksianto näkyy vain rekisteröityneelle opiskelija käyttäjälle. 

Jos olet ammattikorkeakoulun opiskelija, jolla on käytössään opiskelijasähköpostisoite niin voit rekistöröityä palvelun käyttäjäksi ja luoda oman profiilin. Oman profiliin luomisen jälkeen pääset näkemään avoimet toimeksiannot. 
			</div>
		</details>

		<details>
			<summary>Maksaako palvelun käyttö?</summary>

			<div>Palvelun käyttö on täysin ilmaista.</div>
		</details>

		<h4>OPISKELIJAT</h4>

		<details>
			<summary>Miten luon profiilin?</summary>

			<div>Profiilin pääset luomaan, kun olet rekisteröitynyt palvelun käyttäjäksi sekä kirjautunut sisään palveluun. Sisäänkirjautumisen jälkeen sinulta kysytään heti, haluatko luoda profiilin? painamalla Kyllä, teen profiilin painiketta siirryt suoraan näkymään, jossa voit luoda profiilin. Profiiliin voit lisätä kuvan, täyttää omat tietosi, yhteystietosi sekä halutessasi voi lisätä linkit sinun sosiaaliseen mediasi kanaville.  Profiiliin on mahdollista lisätä esittelyteksti itsestäsi sekä voit kertoa millaista työtä etsit. Profiilistasi voit tehdä julkisen, heti kun olet lisännyt itsestäsi kuvan.</div>
		</details>
<!-- 
		<details>
			<summary>Pitääkö hakemukseen liittää CV ja hakemuskirje?</summary>

			<div>Tässä on vastaus.</div>
		</details> -->

		<details>
			<summary>Miten ryhdyn kevytyrittäjäksi?</summary>

			<div>Kevytyrittäjäksi ryhtyminen on helppoa, tarkemmat ohjeet löydät <a routerLink="/guide/forstudent">täältä.</a></div>
		</details>

		<details>
			<summary>En saanut palkkiota toimeksiannosta, mitä teen?</summary>

			<div>Valitsemasi laskutuspalvelun tehtävänä on tilittää sinulle palkkio. Ole yhteydessä valitsemaasi laskutuspalveluun.</div>
		</details>

		<details>
			<summary>Työnantaja ei vastaa. Mitä teen?</summary>

			<div>Ota yhteydessä DigiMajakan asiakaspalveluun sähköpostitse. Kerro viestissä minkälaisesta toimeksiannosta on kyse ja kuka on toimeksiantajana. Sähköpostin voit laittaa osoitteeseen digimajakka.asiakaspalvelu@gmail.com</div>
		</details>

		<!-- <details>
			<summary>Miten teen laskun?</summary>

			<div>Tässä on vastaus.</div>
		</details> -->

		<h4>TOIMEKSIANTAJAT</h4>

		<details>
			<summary>Mitä palveluita profiilin luoneet opiskelijat voivat tarjota? </summary>
			<div><p>Erilaisten Verkkopalveluiden suunnittelu sekä niiden tekninen toteutus nykyaikaisilla teknologioilla.</p>
				<p>Käytettävyyden ja saavutettavuuden arviointeja.</p>
			<p>Tietokoneiden ja muiden laitteiden asennuspalvelut sekä niiden käyttöönoton tuki sekä ohjaus.</p>
			<p>Digitaalinen markkinointi. Verkkosivujen hakukoneoptimointia, web-analytiikkaa sekä sisältömarkkinointia.</p>
			<p>Digitaalisten palveluiden brändäys, asiakassegmentointi.</p>
			<p>Koulutus ja opastus sosiaalisenmedian kanavoiden käyttöönottoon ja ylläpitoon.</p>
			</div>
		</details>
		<!-- <details>
			<summary>Miten voin ilmoittaa avoimesta työtehtävästä?</summary>

			<div>Tässä on vastaus.</div>
		</details>

		<details>
			<summary>Voinko ottaa suoraan yhteyttä opiskelijaan?</summary>

			<div>Tässä on vastaus.</div>
		</details>

		<details>
			<summary>Opiskelija ei tullut töihin. Mitä teen?</summary>

			<div>Tässä on vastaus.</div>
		</details>

		<details>
			<summary>Pitääkö opiskelijalle antaa työtodistus?</summary>

			<div>Tässä on vastaus.</div>
		</details>

		<details>
			<summary>Onko minun pakko palkata opiskelija?</summary>

			<div>Tässä on vastaus.</div>
		</details> -->
	</div>
</div>

<!-- <details>

        <summary>Tässä on kysymys?</summary>
      
        <div>
      
      Tässä on vastaus.
      
        </div>
      
        <summary>Tässä on kysymys?</summary>
      
        <div>
      
      Tässä on vastaus.
      
        </div>
      </details> -->
