/*
  Color variables declared.
  Usage-example: "color: var(--lightblue);"
*/
::ng-deep :root {
  --lightblue: #E0FCFE;
  --mediumblue: #396472;
  --darkblue: #053848;
  --darkgray: #384043;
  --green: #C1BA48;
  --error: #C30808;
  --disabled: #BEBEBE;

}
