<div class="container">
	<div>
		<h3>DigiMajakka 2022</h3>
	</div>
	<div class="textlist">
		<a href="/home">Etusivu</a>
		<a href="/employer">Toimeksiantajalle</a>
		<a href="/student">Opiskelijalle</a>
		<a href="/guide">Ohjeet</a>
	</div>
	<div class="textlist">
		<a href="/termsandconditions">Käyttöehdot</a>
		<a href="/privacypolicy">Tietosuojaseloste</a>
		<p>Ongelmatilanteissa ota yhteyttä:</p>
		<p class="email">asiakaspalvelu.digimajakka@gmail.com</p>
	</div>

	<!-- Social media icons. -->
	<div class="socials">
		<!-- Social media icons with links. Icon is only displayed if the profile has a link set to that service -->
		<a>
			<img
				class="some-icon linkedin"
				src="assets\icons\In-2C-101px-TM.png"
				alt="linkedin-icon"
			/>
		</a>
		<a href=" https://www.facebook.com/profile.php?id=100085940487100">
			<img
				class="some-icon"
				src="assets\icons\f_logo_RGB-Blue_100.png"
				alt="facebook-icon"
			/>
		</a>
		<a href=" https://www.instagram.com/digimajakka_jkl/">
			<img
				class="some-icon"
				src="assets\icons\Instagram_Glyph_Gradient.png"
				alt="instagram-icon"
			/>
		</a>
		<a>
			<img
				class="some-icon"
				src="assets\icons\Twittersocialicons-roundedsquare-blue.png"
				alt="twitter-icon"
			/>
		</a>
	</div>
</div>
