* {
  margin-top: 0;
}

h3 {
  font-weight: 400;
  font-size: 1.5em;
}

a, p {
  font-size: 1.25em;
}

a:hover {
  color: var(--darkblue);
  cursor: pointer;
}

.container {
  background-color: var(--mediumblue);
  box-sizing: border-box;
  height: 209px;
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
}

.textlist {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.email {
  margin-left: 1em;
}

.socials {
  align-self: center;
  background-color: var(--lightblue);
  padding: 0.3em 0.6em;
  gap: 0.6em;
  height: 55px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials>a {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.socials>a:hover {
  transform: scale(1.25);
}

.some-icon {
  width: 40px;
  height: 40px;
}

.linkedin {
  width: 44.75px
}