<div class="jobBox">
	<div class="hoverSide"></div>
	<div class="titleArea">
		<h3>Jyväskylän ammattikorkeakoulu</h3>
	</div>
	<div class="textArea">
		<h3>Väliaikainen korvaava opettaja</h3>
		<p>
			Lyhyt kuvaus siitä mitä duuni on. Millaista ihmistä toivoisimme
			löytävämme. Tarkemmat tiedot ja isompi ilmoitus, kun klikkaat
			ilmoituksen auki. Lyhyt kuvaus siitä mitä duuni on. Millaista
			ihmistä toivoisimme...
		</p>
	</div>
	<div class="buttonArea"><button class="graybutton">Lue lisää</button></div>
</div>
