<h2>Tikotyökkäri</h2>

<h1>Opiskelijoille</h1>

<button (click)="back()">Takaisin</button>


<div class="list">
  
  <div class="listitem">
    <h3>Löydä työpaikka tai työtehtävä</h3>
    <button [routerLink]="['/joblist']">Selaa työpaikkoja</button>
  </div>

  <div class="listitem">
    <h3>Luo profiili ja tule löydetyksi</h3>
    <button>Profiili</button>
  </div>

  <div class="listitem">
    <h3>Löydä työkavereita projekteihin</h3>
    <button>Selaa opiskelijoita</button>
  </div>

  <div class="listitem">
    <h3>Palvelun toiminta ja laskutus</h3>
    <button>Ohjeita</button>
  </div>
</div>